<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenjian.net">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".demo.app.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.activity.GetActivity" />
        <activity android:name=".demo.activity.PostActivity" />
        <activity android:name=".demo.activity.CustomActivity" />
        <activity android:name=".demo.activity.OtherJsonActivity" />

        <activity android:name=".demo.activity2.GetActivity2" />
        <activity android:name=".demo.activity2.PostActivity2" />
        <activity android:name=".demo.activity2.CustomActivity2" />
        <activity android:name=".demo.activity2.OtherJsonActivity2" />
    </application>

</manifest>